*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Cards{
    height: 100vh;
    width: 100px;
    display: flex;
    justify-content: center;
    color: whitesmoke;
    background-color: whitesmoke;
    .Cardbox{

        .img{
            display: flex;
            justify-content: center;
            
        }
    }
}