
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.birthday-box {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;

}

.birthday-list {
  margin: 20px 0;
}

.birthday-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.birthday-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 80px;
}

.clear-button {
  background-color: pink;
  color: white;
  border: none;
  padding: 10px 100px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.clear-button:hover {
  background-color:  pink;
  box-shadow: -3px 5px 6px 1px rgba(0, 0, 0, 0.1);
}
